{% extends 'base.html' %}

{% block content %}
<h1>hello world</h1>
{% endblock %}

<!-- <div id="google_translate_element" class="row" style="margin-left: 10px;"></div>  -->

<!--    if request.user.is_authenticated:-->
<!--        if User.is_superuser:-->
<!--            login(request, User)-->
<!--            return redirect('adminpage')-->
<!--        else:-->
<!--            return redirect('home')-->
<!--    else:-->


<!--user = Users.objects.get(id=pk)-->
<!--    if request.method == 'POST':-->
<!--        bonus = int(request.POST["bonus"])-->
<!--        money = int(request.POST["money"])-->
<!--        total = int(request.POST["bonus"]) + int(request.POST["money"])-->
<!--        percentage = int(request.POST["money"]) / 20-->

<!--        user.bonus = bonus-->
<!--        user.money = money-->
<!--        user.total = total-->
<!--        user.percentage = percentage-->
<!--        user.save()-->
<!--        return redirect('users')-->